<h1>Product List</h1>
<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Price</th>
    <th colspan="2">Action</th>
  </tr>
  <ng-container *ngFor="let product of products">
  <tr>
    <td><a [routerLink]="['/detail-product/', product.id]">{{product.name}}</a></td>
    <td>{{product.des}}</td>
    <td>{{product.price}}</td>
    <td><a [routerLink]="['/edit-product/', product.id]">Edit</a></td>
    <td><a [routerLink]="['/delete-product', product.id]">Delete</a></td>
  </tr>
  </ng-container>
</table>
